@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Josefin Sans', 'sans-serif';
}
/* header used flex to align item in row  */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding:to make space between border and content  */
  padding: 20px 10px;
}
header > h1 {
  font-size: 35px;
  font-weight: 700;
}
.navlinks {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  gap: 40px;
}
.navlinks > a {
  color: black;
  text-decoration: none;
  /* padding: 20px; */
  /* margin: 20px; */
  padding: 5px 0px 5px 0px;
}
.navlinks > a:hover {
  border-bottom: 3px solid #ff1493;
  /* margin: 20px; */
  padding: 0px 0px 2px 0px;
}
.section-A {
  background-color: whitesmoke;
}
.main-heading1 {
  font-size: 60px;
}

.main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 95px;
  height: 610px;
  padding-top: 60px;
}
.maindiv-image {
  border-radius: 700px;
}
.btn {
  color: white;
  background-color: rgb(229, 31, 137);
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.image-maindiv {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.item-1 {
  flex-basis: 580px;
  font-size: 30px;
  align-self: center;
}
.product {
  /* margin-top: 0px; */
  height: 700px;
}
.card-heading {
  text-align: center;
  /* margin-bottom: 0px; */
}
.product {
  display: flex;
  justify-content: space-around;
}
.product-img-1 {
  width: 400px;
}
.product-card-1 {
  /* border: 3px solid rgb(55, 129, 70); */
  border-radius: 25px;
  width: 356px;
  height: 550px;
  margin-top: 35px;
  box-shadow: 2px 4px 15px grey;
}
.card-img-1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 356px;
}
.card-div-1 {
  margin-top: 30px;
  padding-left: 20px;
}
.card-div-1 > span {
  background-color: rgb(81, 207, 102);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  margin-left: 25px;
  color: rgb(33, 33, 33);
}
.card-div-1 > p {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 25px;
  color: rgb(33, 33, 33);
}
.card-list {
  padding-top: 25px;
  /* margin-left: 40px; */
  color: rgb(33, 33, 33);
}
.card-list > ul > li {
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}
.product-cards {
  margin-top: 20px;
}
#card-span {
  background-color: #ffd43b;
  margin: auto;
}
.card-list > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.icons {
  color: rgb(230, 126, 34);
  font-size: 30px;
}
.unorder-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
}
.working-cards > h1 {
  text-align: center;
  font-size: 35px;
}

.cards-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 10px 20px;
  background-color: white;
  margin: 0px 20px;
  box-shadow: 2px 4px 15px grey;
  border-radius: 15px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-B {
  background-color: whitesmoke;
  padding: 30px;
}
.cards-child > h3 {
  font-size: 25px;
}
.cards-child > i {
  font-size: 45px;
}
.cards {
  padding: 30px 0px;
}
/* fisrt section stykling */
.section-c {
  background-color: white;
  padding: 80px 0px;
}
.heading-about {
  font-size: 45px;
}

.div-about {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* column-gap: 95px; */
  height: 610px;
  padding-top: 60px;
  padding: 0px 60px;
}
.maindiv-image {
  border-radius: 700px;
}
.btn-about {
  color: white;
  background-color: rgb(229, 31, 137);
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.image-aboutdiv {
  border-radius: 50%;
  width: 600px;
  height: 600px;
}
.para-maindiv-about {
  padding: 0px 0px 40px;
}
.item-1-about {
  flex-basis: 566px;
  font-size: 27px;
  align-self: flex-start;
}
.about-products {
  font-weight: 400;
  font-size: smaller;
  padding: 0px 0px 30px;
}
.heading-about2 {
  font-size: 60px;
  padding: 20px 0px 20px;
}
.order-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  font-size: 20px;
  /* padding-bottom: 76px; */
}
.menu-lists {
  display: flex;
  justify-content: flex-start;
  padding: 28px 28px 28px 65px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px 0px;
}
.menu-card {
  display: flex;
  flex-direction: column;
  width: 255px;
  /* box-shadow: -4px 6px 15px greygrey; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
  background-color: #fff;
}
.image-of-menu > img {
  width: 215px;
}
.menu-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-details-child1 {
  font-size: 18px;
  font-weight: 300;
  /* margin: 5px 22px; */
}
.menu-details-child2 {
  /* margin: 0px 22px; */
  font-size: 18px;
  font-weight: 500;
}
.menu-details > div:last-child > a {
  color: #ff1493;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #ff1493;
  border-radius: 5px;
  padding: 6px 10px;
  /* margin: 5px 10px; */
}
.menu-details > div:last-child > a > button {
  padding: 5px;
  color: #ff1493;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}
.menu-details > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-details > div:last-child > p {
  /* margin: 0px 22px; */
}
.section-D {
  background-color: whitesmoke;
}
.oders-div {
  padding: 75px 0px;
}
.section-E > h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.asked-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px 0px 100px 0px;
}
.asked-questions > details > summary {
  border: 1px solid gray;
  margin: 10px 0px;
  padding: 15px;
  width: 900px;
  border-radius: 5px;
}
.section-E {
  padding: 60px 0px;
}
.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.download-img > img {
  width: 620px;
}
.download-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 480px;
  gap: 30px;
  text-align: center;
}
.download-text > h2 {
  font-size: 45px;
  font-weight: 900;
}
.section-F {
  padding: 75px 0px;
}
.download-btn {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.download-btn > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: black;
  color: #fff;
  width: 160px;
  border-radius: 10px;
  padding: 7px 0px;
}
.download-btn > button > i {
  font-size: 35px;
  /* color: white; */
}
.section-F {
  background-color: whitesmoke;
}
.download-span {
  font-size: 20px;
}
.footer-list {
  list-style-type: none;
  line-height: 2;
}
.quick-link > li > a {
  text-decoration: none;
  color: black;
}
.footer-heading {
  color: #ff1493;
  margin: 15px 0px;
}
.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 150px;
}
/* .footer-div-child {
  width: 370px;
} */
.footer-para {
  width: 370px;
  line-height: 1.5;
}
.copyright {
  text-align: center;
  padding: 20px 0px;
  /* font-size: 15px;
  font-weight: 600; */
}
footer {
  padding: 50px 0px;
}
